<ion-header>
  <ion-toolbar>
    <ion-title class="title">Izmena stavke računa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="padding-top: 1.5vh">
      <ion-col style="margin-left: 2vw; padding-bottom: 0px">
        <ion-item lines="none">
          <ion-text position="fixed">Naziv stavke: </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="margin-left: 2vw; padding-bottom: 0px">
        <ion-item lines="full">
          <ion-textarea
            type="text"
            class="ion-no-padding"
            [(ngModel)]="stavkaZaIzmenu.naziv"
            name="naziv"
          >
          </ion-textarea
        ></ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 1.5vh">
      <ion-col style="margin-left: 2vw; padding-bottom: 0px">
        <ion-item lines="full">
          <ion-text slot="start" position="fixed">Količina: </ion-text>
          <ion-input
            type="number"
            pattern="^[0-9]+([\.,][0-9]{2})?$"
            class="ion-no-padding"
            [(ngModel)]="stavkaZaIzmenu.kolicina"
            name="kolicina"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 1.5vh">
      <ion-col style="margin-left: 2vw; padding-bottom: 0px">
        <ion-item lines="full">
          <ion-text slot="start" position="fixed">Cena bez PDV-a: </ion-text>
          <ion-input
            type="number"
            pattern="^[0-9]+([\.,][0-9]{2})?$"
            class="ion-no-padding"
            [(ngModel)]="stavkaZaIzmenu.cena_bez_pdv"
            name="cena_bez_pdv"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 1.5vh">
      <ion-col style="margin-left: 2vw; padding-bottom: 0px">
        <ion-item lines="full">
          <ion-text slot="start" position="fixed">Cena sa PDV-om: </ion-text>
          <ion-input
            type="number"
            pattern="^[0-9]+([\.,][0-9]{2})?$"
            class="ion-no-padding"
            [(ngModel)]="stavkaZaIzmenu.cena_sa_pdv"
            name="cena_sa_pdv"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 1.5vh">
      <ion-col>
        <ion-button
          type="button"
          color="primary"
          expand="full"
          (click)="posaljiPodatke()"
          >Sačuvaj stavku računa
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
